# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
nginx/*
Dockerfile
docker-compose.yml
entrypoint.sh

# DB
db.sqlite3
db.*
